.btnWrapper {
  text-align: center;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
